<!-- Trigger the newsletter modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#newsletterModal">
  Subscribe to our newsletter
</button>

<!-- newsletter Modal -->
<div class="modal fade" id="newsletterModal" role="dialog">
  <div class="modal-dialog">

    <!-- newsletter Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">The qSEL Updates Newsletter Signup</h4>
      </div>
      <div class="modal-body">
        <div id="mc_embed_signup">
        <form action="https://columbia.us9.list-manage.com/subscribe/post?u=6f4d80c78174f8fa3b0f5baac&amp;id=2c775b2171" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <h2>Subscribe</h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
            </label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="mc-field-group">
              <label for="mce-FNAME">First Name </label>
              <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
            </div>
            <div class="mc-field-group">
              <label for="mce-LNAME">Last Name </label>
              <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
            </div>
            <div class="mc-field-group">
              <label for="mce-MMERGE3">Company </label>
              <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
            </div>
            <div class="mc-field-group">
              <label for="mce-MMERGE4">Office TEL </label>
              <input type="text" value="" name="MMERGE4" class="" id="mce-MMERGE4">
            </div>
            <div class="mc-field-group">
              <label for="mce-MMERGE5">Department </label>
              <input type="text" value="" name="MMERGE5" class="" id="mce-MMERGE5">
            </div>
            <div class="mc-field-group">
              <label for="mce-MMERGE6">Job Title </label>
              <input type="text" value="" name="MMERGE6" class="" id="mce-MMERGE6">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6f4d80c78174f8fa3b0f5baac_2c775b2171" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';fnames[4]='MMERGE4';ftypes[4]='text';fnames[5]='MMERGE5';ftypes[5]='text';fnames[6]='MMERGE6';ftypes[6]='text';fnames[7]='MMERGE7';ftypes[7]='text';fnames[8]='MMERGE8';ftypes[8]='text';fnames[9]='MMERGE9';ftypes[9]='text';fnames[10]='MMERGE10';ftypes[10]='text';fnames[11]='MMERGE11';ftypes[11]='text';fnames[12]='MMERGE12';ftypes[12]='text';fnames[13]='MMERGE13';ftypes[13]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
