---
title: About
---
<!-- Lab Director Callout-->

<div class ="row">
  <div class="span12 director-callout">
    <a href="/team/vijay-modi/">
      <h2 style="padding-top: 15px!important; text-decoration: none; color:#333;">Lab Director</h2>
    </a>
    <div class="row">
      <div class="span4">
        <a href="/team/vijay-modi/" >
          <div class="image-background">
          <img src="/assets/uploads/team/vijay.jpg" style="width: 250px; height: 225px; text-align: center; border-radius: 3px;">
        </a>
      </div>
      <div class="caption-box">
        <div class="row">
          <a href="/team/vijay-modi/" style="text-decoration: none; color: #08c;">
            <div class="span4 about-name" style="justify-content: center; font-size: x-large; font-weight: bold;">
              Vijay Modi
            </div>
          </a>
        </div>
        <div class ="row">
          <div class="about_links span4" style="margin-top: 10px; justify-content: center;">
            <a href="/assets/uploads/team/Modi-Biosketch-2025.pdf" class="button">
              Biosketch
            </a>
            <a href="/assets/uploads/team/Modi-fullcv-2025.pdf" class="button">
              CV
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="span8">
      <a href="/team/vijay-modi/" style="text-decoration: none; color: #333;">
        <b>Vijay Modi</b> is a Professor in Columbia University’s Departments of Mechanical Engineering and Earth &amp;
        Environmental Engineering, and in the Climate School. He is the director of the
      </a>
      <a href="/">
        Quadracci Sustainable Engineering Laboratory (QSEL)
      </a>.
      <a href="/team/vijay-modi/" style="text-decoration: none; color: #333;">
        In the last decade, his laboratory, QSEL, has carried out pioneering work in digital mini-grids that integrate electricity supply/demand
        monitoring, dynamic allocation of energy/power resources to individual customers and the use of IoT for system, battery, customer commercial account management with integration of communication and controls. QSEL has developed network expansion tools for electric utilities in low-resource settings and data-driven analysis of such utilities for demand estimation and forecasting. The lab is currently developing data-driven models for electrification of heating and transport.
      </a>
      <br>
    </div>
  </div>
</div>


<!-- Current Members (team) -->

<div class="row-fluid">
  <div class="span9">
    <h2>
      Team
    </h2> The Lab brings together a diverse set of talents who work in collaboration to engineer solutions to development issues. From designers who understand user needs and talented software engineers to development practitioners and researchers, the expertise at the lab is both broad and deep.
  </div>
</div>

{% assign current = site.team | where:"status","current" %}
{% for member in current %}
    {% if member.full_name == "Vijay Modi"%} <!--Professor Modi is in the Director Callout above-->
        {% continue %}
    {% endif %}
    <a class="profile" href="{{ member.url }}">
        {% if member.picture_type == "top"%}
            <img class="profile_img" src="{{ member.photo }}" style="object-fit: cover; object-position: top;">
        {% else %}
            <img class="profile_img" src="{{ member.photo }}" style="object-fit: cover;">
        {% endif %}
        <div class="profile_name">
            {{ member.full_name}}
        </div>
        <div class="profile_position">
            {{ member.position }}
        </div>
    </a>
{% endfor %}


<div class="clearfix"></div>
<br>
<!-- Alumni -->

<div class="row-fluid">
    <div class="span9">
        <h2>Alumni</h2>
    </div>
</div>

{% assign former = site.team | where:"status","former" | reverse %}
{% for alum in former %}
  {% if alum.photo %}
    <div class="profile">
        <img class="profile_img" src="{{ alum.photo }}" onerror="this.src='/assets/uploads/team/default.png'">
        <div class="profile_name">
            {{ alum.full_name}}
        </div>
        <div class="profile_position">
            {{ alum.employer }}
        </div>
    </div>
  {% endif %}
{% endfor %}
{% for alum in former %}
  {% if alum.photo == NULL %}
    <div class="profile">
        <img class="profile_img" src="{{ alum.photo }}" onerror="this.src='/assets/uploads/team/default.png'">
        <div class="profile_name">
            {{ alum.full_name}}
        </div>
        <div class="profile_position">
            {{ alum.employer }}
        </div>
    </div>
  {% endif %}
{% endfor %}

<div class="clearfix"></div>

<div class="row">
  <div class="span9 col-lg-6 col-sm-12">
    <h2>Partners</h2>
    <p>
      We work with diverse partners, ranging from small non-profit organizations to large government bodies, mainly working in the developing world.
    </p>
    <ul>
      <li>Office of the Senior Special Assistant to the President on Millennium Development Goals, Nigeria — Nigeria MDGs Information System, Formhub, Facilities Inventory</li>
      <li><a href="http://frhsindia.org/">Foundation for Research in Health Systems</a>, <a href="http://who.int/">World Health Organization</a>, National Rural Health Mission, Karnataka — Drishti</li>
      <li><a href="http://www.millenniumvillages.org/">The Millennium Villages Project</a> — Formhub, ChildCount, Facilities Inventory</li>
      <li><a href="http://www.africasoils.net/">Africa Soil Information System (AfSIS)</a>, <a href="http://africasoils.net/2012/09/20/418/">Ethiopia Soil Information System (EthioSIS)</a> — Formhub</li>
      <li>Kenyan and Senegalese electricity utilities (KPLC and SENELEC) in conjunction with Ministry of Energy in Kenya and the Rural Electrification Agency in Senegal (ASER) has mplemented Network Planner for national level electricity planning.</li>
      <li><a href="http://internews.org/">Internews</a> — Formhub, <a href="https://www.internews.org/updates/humanitarian-data-toolkit-rapid-assessment-kit-emergencies">Humanitarian Data Toolkit</a></li>
    </ul>
  </div>
</div>
